* text eol=crlf
shader/include/neuralAppearance/fixtureModel.slang text eol=lf

*.dll binary
*.exe binary
*.exr binary
*.jpeg binary
*.jpg binary
*.lib binary
*.pdf binary
*.pdb binary
*.png binary
*.zip binary

assets/envMap/** filter=lfs diff=lfs merge=lfs -text
