.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
build/
.github/
/debug.log
/imgui.ini
/tmp/
__pycache__/
*.py[cod]

# Keep screenshots folder but ignore its content
screenshots/*
!screenshots/.gitkeep
