.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
build/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/deploy-web.yml
/debug.log
/imgui.ini
/tmp/
__pycache__/
*.py[cod]

# Keep screenshots folder but ignore its content
screenshots/*
!screenshots/.gitkeep
